body {
	background: rgba(96, 125, 139, 0.3);
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 30px;
}

h1 {
	color: #6699CC;
	text-align: center;
}

table {
	border: 2px solid #0072BB;
	width: 650px;
  	 
}

thead {
	background-color: #0072BB;
}

td {
	border-top: 1px solid #0072BB;
}

.codetab {
	background-color: #FFF8DC;
	width: 600px;
	
}

hr {
	width: 80%;
}